---
import { Image } from 'astro:assets';
import { allies } from '@/utils/constants';

import Layout from '@shared/components/Layout.astro';
import DefumedCard from '@shared/components/DefumedCard.astro';

---
<Layout class='py-50'>
  <DefumedCard id='aliados' class='w-full flex flex-col items-center gap-20 p-[80px] lg:p-[111px] lg:flex-row'>
    <div class="w-full max-w-[30%]">
      <h3 class='h2 text-center'>Aliados</h3>
    </div>
    <div class="flex flex-1 flex-wrap gap-x-24 gap-y-16 justify-center items-center">
      {
        allies.map((ally) => {
          const alt = `Logo de ${ally.name}`;
          return (
            <a class="ally" href={ally.url} target='_blank' rel='noopener noreferrer'>
              <Image
                title={alt}
                src={ally.img}
                alt={alt}
                width={240}
                height={96}
                style={`height:${ally.h ?? 40}px`}
              />
            </a>
          )
        })
      }
    </div>
  </DefumedCard>
</Layout>

<style>
  @reference "../styles/global.css";

  .ally {
    @apply flex items-center justify-center transition-[transform] hover:scale-[1.05];
    min-height: 96px;
  }

  .ally :global(img) {
    width: auto;
    max-width: 200px;
    object-fit: contain;
  }
</style>