---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import { speakers } from '@/utils/constants';

const morningSpeakers = [
  ...speakers.slice(0, 2),
  {
    talk: "Break, Networking y Café",
    schedule: "10:10AM - 10:30AM",
    name: "",
    thumbnail: "",
  },
  ...speakers.slice(2, 5),
];

const trackOneSpeakers = [[...speakers.slice(5, 7)], [...speakers.slice(7, 10)]]
const trackTwoSpeakers = [[...speakers.slice(10, 12)], [...speakers.slice(12, 15)]]

---
<section class='mx-auto relative bg-[#747099]'>
  <Layout class='flex flex-col gap-8 items-center py-[60px] lg:py-[120px] md:flex-row'>
    <div class='flex flex-col gap-12 lg:gap-24 w-full'>
      <h2>Agenda</h2>
      <div class="relative flex flex-col gap-12 lg:py-32 lg:before:content-[''] lg:before:inset-0 lg:before:absolute lg:before:bg-white lg:before:h-full lg:before:w-[1px] lg:before:left-1/2 lg:before:-translate-x-1/2">
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Registro y Bienvenida</p>
          <span>08:00AM - 09:00AM</span>
        </div>
        <div class="flex flex-wrap gap-8 z-10 lg:flex-col">
          {
            morningSpeakers.map((speaker) => (
              <div class="flex items-center justify-between gap-10 w-full lg:max-w-[50%] lg:odd:self-start lg:even:self-end lg:even:flex-row-reverse lg:even:text-right px-8">
                <div class="flex flex-col gap-2">
                  <span class="font-bold">{speaker.talk}</span>
                  <span>{speaker.schedule}</span>
                </div>
                {
                  speaker.thumbnail && speaker.name && (
                    <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                      <Image
                        class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                        src={speaker.thumbnail}
                        alt={speaker.name}
                        width={50}
                        height={50}
                      />
                      <span class="text-center">{speaker.name}</span>
                    </div>
                  )
                }
              </div>
            ))
          }
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Almuerzo</p>
          <span>12:00PM - 01:00PM</span>
        </div>
        <div class="flex flex-col lg:flex-row lg:flex-wrap gap-[36px] blur-md">
          <div class="flex flex-col gap-10 flex-1 pb-16">
            <p class="h5 text-center pb-4">Track 1</p>
            {
              trackOneSpeakers[0].map((speaker) => (
                <div class="flex gap-10 items-center justify-between">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
          <div class="flex flex-col gap-10 flex-1 pb-16">
            <p class="h5 text-center pb-4">Track 2</p>
            {
              trackTwoSpeakers[0].map((speaker) => (
                <div class="flex gap-10 items-center justify-between">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Break, Networking y Café</p>
          <span>02:10PM - 02:30PM</span>
        </div>
        <div class="flex flex-col lg:flex-row lg:flex-wrap gap-[36px] blur-md">
          <div class="flex flex-col gap-10 flex-1 pb-16">
            <p class="h5 text-center pb-4">Track 1</p>
            {
              trackOneSpeakers[1].map((speaker) => (
                <div class="flex gap-10 items-center justify-between">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
          <div class="flex flex-col gap-10 flex-1 pb-16">
            <p class="h5 text-center pb-4">Track 2</p>
            {
              trackTwoSpeakers[1].map((speaker) => (
                <div class="flex gap-10 items-center justify-between">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Cierre del evento</p>
          <span>05:30PM - 06:00PM</span>
        </div>
      </div>
    </div>
  </Layout>
</section>

<style>
  .dashes-line {
    @apply flex items-center justify-center gap-10 w-full after:block after:content-[""] after:h-[1px] after:flex-1 before:block before:content-[""] before:h-[1px] before:flex-1 after:bg-white before:bg-white;
  }
</style>