---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import { speakers } from '@/utils/constants';
import GroundSvg from '@/components/Svgs/Ground.astro';
import SunSvg from '@/public/images/sun.svg';
import BirdsSvg from '@/public/images/birds.svg';

const morningSpeakers = [
  ...speakers.slice(0, 2),
  {
    talk: "Break, Networking y Café",
    schedule: "10:10AM - 10:30AM",
    name: "",
    thumbnail: "",
  },
  ...speakers.slice(2, 5),
];

const trackOneSpeakers = [[...speakers.slice(5, 7)], [...speakers.slice(7, 10)]]
const trackTwoSpeakers = [[...speakers.slice(10, 12)], [...speakers.slice(12, 15)]]

---
<section id="schedule" class='mx-auto relative bg-[#747099]'>
  <div class='relative h-[70px] sm:h-[100px] md:h-[160px] mx-auto'>
    <div class='absolute top-0 translate-y-[-10px] left-0 right-0 w-full z-[4] mx-auto rotate-180'>
      <GroundSvg class='h-full w-full' fill='#1F183C' width={null} height={null} />
    </div>
  </div>
  <Layout class='flex flex-col gap-8 items-center py-[60px] lg:py-[120px] md:flex-row relative'>
    <div class='flex flex-col gap-8 lg:gap-24 w-full'>
      <h2>Agenda</h2>
      <div class='absolute max-w-[120px] md:max-w-[220px] xl:max-w-[250px] right-[20px] translate-y-[-50px] md:translate-y-[-100px] lg:translate-y-[-70px]  z-20'>
        <Image src={SunSvg} alt='Sun image' />
      </div>
      <div class='absolute max-w-[180px] xs:max-w-[200px] md:max-w-[220px] xl:max-w-[300px] right-0 z-20'>
        <Image class='w-full' src={BirdsSvg} alt='Birds image' />
      </div>
      <div class="relative z-0 flex flex-col lg:gap-12 lg:py-32 lg:before:content-[''] lg:before:inset-0 lg:before:absolute lg:before:bg-white lg:before:h-full lg:before:w-[1px] lg:before:left-1/2 lg:before:-translate-x-1/2">
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Registro y Bienvenida</p>
          <span>08:00AM - 09:00AM</span>
        </div>
        <div class="flex flex-wrap gap-8 z-10 lg:flex-col">
          {
            morningSpeakers.map((speaker) => (
              <div class="flex items-center flex-col-reverse gap-2 text-center justify-between lg:flex-row lg:text-left lg:gap-10 w-full lg:max-w-[50%] lg:odd:self-start lg:even:self-end lg:even:flex-row-reverse lg:even:text-right lg:px-8">
                <div class="flex flex-col gap-2">
                  <span class="font-bold">{speaker.talk}</span>
                  <span>{speaker.schedule}</span>
                </div>
                {
                  speaker.thumbnail && speaker.name && (
                    <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                      <Image
                        class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                        src={speaker.thumbnail}
                        alt={speaker.name}
                        width={50}
                        height={50}
                      />
                      <span class="text-center">{speaker.name}</span>
                    </div>
                  )
                }
              </div>
            ))
          }
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Almuerzo</p>
          <span>12:00PM - 01:00PM</span>
        </div>
        <div class="flex flex-col lg:flex-row lg:flex-wrap gap-[36px]">
          <div class="flex flex-col gap-8 flex-1 lg:pb-16 lg:gap-10">
            <p class="h5 text-center pb-4">Track 1</p>
            {
              trackOneSpeakers[0].map((speaker) => (
                <div class="flex items-center flex-col-reverse gap-2 text-center justify-between lg:flex-row lg:text-left lg:gap-10 min-h-[120px]">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
          <div class="flex flex-col gap-8 flex-1 lg:pb-16 lg:gap-10">
            <p class="h5 text-center pb-4">Track 2</p>
            {
              trackTwoSpeakers[0].map((speaker) => (
              <div class="flex items-center flex-col-reverse gap-2 text-center justify-between lg:flex-row-reverse lg:text-right lg:gap-10 min-h-[120px]">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Break, Networking y Café</p>
          <span>02:10PM - 02:30PM</span>
        </div>
        <div class="flex flex-col lg:flex-row lg:flex-wrap gap-[36px]">
          <div class="flex flex-col gap-8 flex-1 lg:pb-16 lg:gap-10 blur-md">
            <p class="h5 text-center pb-4">Track 1</p>
            {
              trackOneSpeakers[1].map((speaker) => (
              <div class="flex items-center flex-col-reverse gap-2 text-center justify-between lg:flex-row lg:text-left lg:gap-10 min-h-[130px]">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
          <div class="flex flex-col gap-8 flex-1 lg:pb-16 lg:gap-10 blur-md">
            <p class="h5 text-center pb-4">Track 2</p>
            {
              trackTwoSpeakers[1].map((speaker) => (
              <div class="flex items-center flex-col-reverse gap-2 text-center justify-between lg:flex-row-reverse lg:text-right lg:gap-10 min-h-[130px]">
                  <div class="flex flex-col gap-3">
                    <span class="font-bold">{speaker.talk}</span>
                    <span>{speaker.schedule}</span>
                  </div>
                  {
                    speaker.thumbnail && speaker.name && (
                      <div class="flex flex-col items-center justify-between gap-1 max-w-[150px] w-full">
                        <Image
                          class="rounded-[50%] bg-white aspect-square object-contain object-[bottom_center]"
                          src={speaker.thumbnail}
                          alt={speaker.name}
                          width={50}
                          height={50}
                        />
                        <span class="text-center">{speaker.name}</span>
                      </div>
                    )
                  }
                </div>
              ))
            }
          </div>
        </div>
        <div class="flex flex-col gap-2 bg-[#747099] py-10 text-center z-10">
          <p class="h5 dashes-line">Cierre del evento</p>
          <span>05:30PM - 06:00PM</span>
        </div>
      </div>
    </div>
  </Layout>
  <div class='relative h-[70px] sm:h-[100px] md:h-[160px] mx-auto'>
    <div class='absolute bottom-0 translate-y-[10px] left-0 right-0 w-full mx-auto'>
      <GroundSvg class='h-full w-full' fill='#1F183C' width={null} height={null} />
    </div>
  </div>
</section>

<style>
  .dashes-line {
    @apply flex items-center justify-center gap-10 w-full after:block after:content-[""] after:h-[1px] after:flex-1 before:block before:content-[""] before:h-[1px] before:flex-1 after:bg-white before:bg-white;
  }
</style>