---
import { Image } from 'astro:assets';
import { SPEAKER_FORM_URL } from 'astro:env/client'

import Layout from '@/layouts/Layout.astro';
import TopFrame from '@/public/images/top-frame.svg';
import BottomFrame from '@/public/images/bottom-frame.svg';
import CloudsSvg from '@/public/images/clouds.svg';
import BirdsSvg from '@/public/images/birds.svg';
import SpeakerPng from '@/public/images/speaker.png';

---

<section id='speakers' class='mx-auto relative bg-[#747099]'>
  <div class='absolute top-0 left-0 right-0 bottom-0'>
    <Image class='w-full h-full object-cover' src={CloudsSvg} alt='Clouds image' />
  </div>
  <Layout class='relative py-[100px] md:py-[200px]'>
    <Image class='w-full absolute top-[-1px] right-0 left-0' src={TopFrame} alt='Top frame image' />
    <div class='absolute right-0 top-[40px] md:top-[100px]'>
      <Image src={BirdsSvg} alt='descriptive text' />
    </div>
    <div class='flex flex-col justify-between items-center w-full gap-[30px] md:flex-row'>
      <div class='max-w-[600px] mx-auto flex flex-col gap-[30px] md:gap-[50px]'>
        <h2>Speakers</h2>
        <div class='flex flex-col gap-[20px]'>
          <p class='font-bold'>
            Con la presencia de expertos como:
          </p>
          <ul class='list-disc pl-[30px] flex flex-col gap-[10px]'>
            <li>
              <span class='font-semibold'>Daniel Minor</span>
              <span>de Mozilla.</span>
            </li>
            <li>
              <span class='font-semibold'>Francisca</span>
              <span>de Latam Airlines.</span>
            </li>
            <li>
              <span class='font-semibold'>Ana Rangel,</span>
              <span>la mente detr치s del dise침o de JSConf Chile.</span>
            </li>
          </ul>
          <span class='font-semibold'>
            CaribeConf te abrir치 puertas con charlas que pueden cambiar tu carrera, y
            la conexi칩n a una comunidad que se une para redefinir la tecnolog칤a en el Caribe.
          </span>
        </div>
        <div class='max-w-[390px] hidden md:block'>
          <a
            class='btn btn--cian text-black z-10'
            href={SPEAKER_FORM_URL}
            target='_blank'
          >
            Quiero ser Speaker 游
          </a>
        </div>
      </div>
      <div class='flex flex-col gap-[30px]'>
        <Image class='h-[400px] md:h-[600px] object-contain' src={SpeakerPng} alt='Speaker image' />
        <div class='md:max-w-[390px] md:hidden'>
          <a
            class='btn btn--cian text-black z-10'
            href={SPEAKER_FORM_URL}
            target='_blank'
          >
            Quiero ser Speaker 游
          </a>
        </div>
      </div>
    </div>
    <Image class='w-full absolute bottom-[-1px] right-0 left-0' src={BottomFrame} alt='Bottom frame image' />
  </Layout>
</section>
