---
import { Image } from 'astro:assets';


import DefumedBanner from '@/components/DefumedBanner.astro';

import Layout from '@/layouts/Layout.astro';
import EmeraldSvg from '@/components/Svgs/Emerald.astro';
import PearlSvg from '@/components/Svgs/Pearl.astro';
import QuartzSvg from '@/components/Svgs/Quartz.astro';
import LeftPalmSvg from '@/components/Svgs/LeftPalm.astro';
import RightPalmSvg from '@/components/Svgs/RightPalm.astro';
import GroundSvg from '@/components/Svgs/Ground.astro';

import { emeraldSponsors, pearlSponsors, quartzSponsors, allySponsors } from '@/utils/constants';

const hasEmeraldSponsors = Boolean(emeraldSponsors.length)
const hasPearlSponsors = Boolean(pearlSponsors.length)
const hasQuartzSponsors = Boolean(quartzSponsors.length)
const hasAllySponsors = Boolean(allySponsors.length)
---
<section class='overflow-hidden'>
  <Layout class='flex flex-col gap-52 items-center py-[140px] relative z-[9]'>
    <div class='flex flex-col gap-32 w-full'>
      <h2>Sponsors</h2>
      {
        hasEmeraldSponsors && (
        <div class='flex flex-col gap-20 w-full'>
          <h3 class='h5 heading heading--emerald uppercase'>
            <div class="flex flex-col justify-center items-center gap-2">
              <EmeraldSvg width={45} height={45} />
              Esmeralda
            </div>
          </h3>
          <div class='flex justify-center items-center gap-20'>
            {
              emeraldSponsors.map((sponsor) => (
                <a class="sponsor-scale" href={sponsor.url} target='_blank'>
                  <Image
                    src={sponsor.image}
                    alt={sponsor.alt}
                    width={350}
                    height={350}
                  />
                </a>
              ))
            }
          </div>
        </div>
        )
      }
      {
        hasPearlSponsors && (
          <div class='flex flex-col gap-20 w-full'>
            <h3 class='h5 heading heading--pearl uppercase'>
              <div class="flex flex-col justify-center items-center gap-2">
                <PearlSvg width={45} height={45} />
                Perla
              </div>
            </h3>
            <div class='flex justify-center items-center gap-20'>
              <a class="sponsor-scale " href='https://www.epam.com/' target='_blank'>
                <Image
                  src='/images/epam.webp'
                  alt='Esmeralda'
                  width={280}
                  height={280}
                />
              </a>
            </div>
          </div>
        )
      }
      {
        hasQuartzSponsors && (
        <div class='flex flex-col gap-20 w-full'>
          <h3 class='h5 heading heading--quartz uppercase'>
            <div class="flex flex-col justify-center items-center gap-2">
              <QuartzSvg width={45} height={45} />
              Cuarzo
            </div>
          </h3>
          <div class='flex justify-center items-center gap-20'>
            <a class="sponsor-scale " href='https://www.epam.com/' target='_blank'>
              <Image
                src='/images/epam.webp'
                alt='Esmeralda'
                width={240}
                height={240}
              />
            </a>
          </div>
        </div>
        )
      }
    </div>
    {
      hasAllySponsors && (
        <DefumedBanner id='aliados' class='w-full flex flex-col items-center gap-20 p-[80px] lg:p-[111px] lg:flex-row'>
          <div class="w-full max-w-[30%]">
            <h3 class='h3 text-center'>Aliados</h3>
          </div>
          <div class="flex flex-1 flex-wrap gap-16 justify-center items-center">
            {
              allySponsors.map((sponsor) => (
                <a class="sponsor-scale" href={sponsor.url} target='_blank'>
                  <Image
                    src={sponsor.image}
                    alt={sponsor.alt}
                    width={sponsor.width}
                    height={sponsor.height}
                  />
                </a>
              ))
            }
          </div>
        </DefumedBanner>
      )
    }
  </Layout>
  <div class='relative max-w-[1920px] z-1 mx-auto'>
    <div class='absolute bottom-0 left-0 h-[300px] md:h-[500px] translate-x-[-40px] md:translate-x-[-49px] md:translate-y-[30px]'>
      <LeftPalmSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
    <div class='absolute bottom-0 right-0 h-[350px] md:h-[550px] translate-x-[40px] md:translate-x-[50px] md:translate-y-[30px] '>
      <RightPalmSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
    <div class='left-0 right-0 w-full z-[4] mx-auto '>
      <GroundSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
  </div>
</section>

<style>
  .heading {
    @apply flex items-center justify-center gap-10 w-full after:block after:content-[""] after:h-[1px] after:flex-1 before:block before:content-[""] before:h-[1px] before:flex-1;
  }

  .heading.heading--emerald {
    @apply after:bg-[#03ac6b] before:bg-[#03ac6b] text-[#03ac6b];
  }

  .heading.heading--pearl {
    @apply after:bg-[#f4fdf6] before:bg-[#f4fdf6] text-[#f4fdf6];
  }

  .heading.heading--quartz {
    @apply after:bg-[#936403] before:bg-[#936403] text-[#936403];
  }

  .sponsor-scale {
    @apply transition-[transform] hover:scale-[1.05];
  }
</style>