---
import { Image } from 'astro:assets';

import Layout from '@/layouts/Layout.astro';
import LeftPalmSvg from '@/components/Svgs/LeftPalm.astro';
import RightPalmSvg from '@/components/Svgs/RightPalm.astro';
import GroundSvg from '@/components/Svgs/Ground.astro';
---
<section class='overflow-hidden'>
  <Layout class='flex flex-col gap-8 items-center py-[60px] lg:py-[120px] md:flex-row'>
    <div class='max-w-[600px] flex flex-col gap-[32px] z-10'>
      <h2 class='text-cian'>¡Conviértete en Sponsor!</h2>
      <div class='flex flex-col gap-[20px]'>
        <p class='font-bold'>¿Por qué patrocinarnos?</p>
        <ul class='list-disc pl-[30px] flex flex-col gap-[10px]'>
          <li>
            <span>
              <span class='font-semibold'>Acceso al talento:</span>
              CaribeConf reúne a los mejores devs o
              desarrolladores y líderes de comunidad de la región.
            </span>
          </li>
          <li>
            <span>
              <span class='font-semibold'>Visibilidad de marca:</span>
              asegúrate de ser reconocido como aliado
              en la industria tecnológica.
            </span>
          </li>
          <li>
            <span>
              <span class='font-semibold'>Impacto regional:</span>
              Somos un ecosistema tecnológico
              emergente con alto potencial.
            </span>
          </li>
        </ul>
        <p class='small-text'>
          Tu apoyo será clave para impulsar la innovación, el talento y la diversidad en el Caribe.
        </p>
      </div>
      <a
        class='btn btn--pink text-black z-10 md:max-w-[390px]'
        href='mailto:hello@caribedev.org'
        target='_blank'
      >
        Quiero ser Sponsor 🌟
      </a>
    </div>
    <div class='flex flex-1 items-center justify-center z-10'>
      <div class='flex flex-col gap-[40px]'>
        <div class='flex gap-8 items-center'>
          <Image src='/images/emerald.webp' width={65} height={65} alt='Imagen de una Esmeralda' />
          <span class='font-bold p uppercase'>Esmeralda</span>
        </div>
        <div class='flex gap-8 items-center'>
          <Image src='/images/pearl.webp' width={65} height={65} alt='Imagen de una Perla' />
          <span class='font-bold uppercase'>Perla</span>
        </div>
        <div class='flex gap-8 items-center'>
          <Image src='/images/quartz.webp' width={65} height={65} alt='Imagen de un Cuarzo' />
          <span class='font-bold uppercase'>Cuarzo</span>
        </div>
      </div>
    </div>
  </Layout>
  <div class='relative max-w-[1920px] z-1 mx-auto'>
    <div class='absolute bottom-0 left-0 h-[300px] md:h-[500px] translate-x-[-40px] md:translate-x-[-49px] md:translate-y-[30px]'>
      <LeftPalmSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
    <div class='absolute bottom-0 right-0 h-[350px] md:h-[550px] translate-x-[40px] md:translate-x-[50px] md:translate-y-[30px] '>
      <RightPalmSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
    <div class='left-0 right-0 w-full z-[4] mx-auto '>
      <GroundSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
  </div>
</section>
